
<% console.log(feed) %>
<% console.log(data) %>
<% for(var i=1; i<feed.length; i++) { %>
	<div class="facebook">
	<p><%= i %> Testing</p>
	<% if (feed[i].message) { %>
		<span>feed[i].message</span>
	<% } %>
	</div>
<% } %>
